@import './styles/variables.scss';

body {
	background-color: white;
	font-family: $Inter;
}

@media (max-width: 991.98px) {
	.header {
		height: 100%;
		.container-fluid {
			.row {
				.call-to-action {
					position: unset;
				}
			}
		}
	}
}

@media (max-width: 600px) {
	body {
		overflow-x: hidden;
	}
}
